.active_styles{
    color: '#422AFB';
}
/* .active_styles::after{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #422AFB;
    position: absolute;
    left: 0;
    bottom: 0;
} */



