@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #EDF1FA !important;
}

.main_list span {
  font-size: 12px !important;
}

.main_list a {
  width: 100%;
}

.main_list li {
  display: flex;
  align-items: center;
}

.main_list svg {
  width: 18px !important;
  fill: #a5afc8;
}

.active_styles a {
  color: #2d3748;
  position: relative;
  border-right: 3px solid transparent;
}
.active_styles a::after {
  content: "";
  background-color: #422afb;
  position: absolute;
  right: 0;
  top: 0;
  width: 2px;
  height: 100%;
}

.active_styles svg {
  fill: #422afb;
}

.active_styles span {
  font-weight: bold !important;
}

.navbar {
  /* background-color: white; */
  margin: 10px;
  /* border-radius: 10px; */
  /* filter: blur(5px); */
}

.MuiChartsLegend-root {
  display: none;
}

.MuiDataGrid-checkboxInput {
  transform: scale(0.7); /* Decrease size */
}

.MuiCheckbox-root{
  padding: 0 !important;
}

/* .MuiDataGrid-cell--textCenter {
  width: 30px !important;
  padding: 0;
  margin: 0;
  background-color: red;
}  */

.MuiDataGrid-checkboxInput.Mui-checked .MuiSvgIcon-root {
  color: '#1976d2'
}
.MuiDataGrid-root {
  border: none; /* Remove the outer border */
}

/* .apexcharts-xaxistooltip {
  background: #444 !important;
  color: #fff !important;
  padding: 5px !important;
  border-radius: 3px !important;
  font-size: 12px !important;
  font-family: Arial, sans-serif !important;
  box-shadow: none !important;
  border: none !important;
}

.apexcharts-xaxistooltip:before {
  border-bottom-color: #444 !important;
} */
